:root {
    --color1:#E8F6EF;
    --color2:#B8DFD8;
    --color3: #FFE194;
    --color4: #4C4C6D;
    --color5: #222831;
    --color6: #E9896A;
}

* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

html {
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header {
    display: flex;
    height: 120px;
    background-color: var(--color4);
    font-family: Helvetica;
}

header h1 {
    font-size: 52px;
    justify-content: center;
    border: 1px dotted blue;
    margin: 1rem 5rem 5px 1rem ;
    font-weight: bolder;
}

header p {
    border: 1px solid brown;
    margin-left: 5rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 5px solid red;
    max-width: 1000px;
    font-family: Helvetica;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: var(--color1);
    max-width: 1000px;

}


li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 50px;
    width: 25%;
    margin: 5px;
    transition: var(--color2) 250ms ease-in-out;
}

a {
    text-decoration: none;
}

ul > li {
    background-color: grey;
}

ul > li:hover {
    background-color: rgb(90, 89, 89);
    box-shadow: 1px 1px black;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0px;
    color: black;
    background: linear-gradient(101deg, var(--color2) 20%, var(--color1));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex: 1 0 300px;
    flex-direction: column;
}

.headanddesc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;
}

#headshot {
    border: 5px dotted black;
    max-width: 300px;
    margin: 1rem 3rem 3rem 1rem ;
}

#headshot img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5%;
    flex: 1 0 300px;
}

#description {
    display: block;
    border: 2px solid tomato;
    align-items: baseline;
    width: 60%;
    padding: 20px;
}

h3 {
    font-size: 22px;
    margin: 2rem 0px 1rem 5rem;
}


/*----------------------------------------------*/

#featured {/*DELETE ME AT FINISH*/
    border: 5px solid pink;
}


.macroCard1 {
    display: flex;
    justify-content: center;
    border: 5px solid pink;
}

.featuredCard1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid orange;
    padding: 20px;
    margin: 5px;
}

h4 {
    display: flex;
    justify-content: flex-end;
}

.featuredimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 500px;
    width: 750px;
    font-size: 38px;
    border-radius: 30px;
    transition: ease-in-out .2s;
    box-shadow: 20px 10px 4px 2px rgba(19, 19, 61, 0.2);
    text-shadow: 6px 7px 8px black, 0 0 4px Black;
}

.featuredCard1 a {
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 500px;
    width: 750px;
    border-radius: 30px;
    text-align: center;
    font-size: 56px;
    color: white;
}

.featuredimg:hover {
    box-shadow: 30px -15px rgb(4, 165, 165);
    transform: scale(1.005);
    text-shadow: none;
}

.featuredimg a:hover {
    color: transparent;
}

#project5 a {
    background-image: url(./images/refactor-for-accessibility.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------------------------------*/
#projects {  /*DELETE ME AT FINISH*/
    border: 5px solid green;
}

.macrocard2 {
    display: flex;
    justify-content: center;
}


.projectCard2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid crimson;
    padding: 20px;
    margin: 5px;

}

.projectimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 400px;
    width: 450px;
    font-size: 38px;
    border-radius: 30px;
    transition: ease-in-out .2s;
    box-shadow: 20px 10px 4px 2px rgba(19, 19, 61, 0.2);
    text-shadow: 6px 7px 8px black, 0 0 2px Black;
}

.projectCard2 a {
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 400px;
    width: 450px;
    border-radius: 30px;
    text-align: center;
    font-size: 56px;
    color: white;
}

.projectimg:hover {
    box-shadow: 30px -15px rgb(133, 60, 175);
    transform: scale(1.005);
    text-shadow: none;
}

.projectimg a:hover {
    color: transparent;
}

#project1 {
    background-image: url(./images/rufus-page.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#project2 {
    background-image: url(./images/wumbo-box.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#project3 {
    background-image: url(./images/greek-case-converter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#project4 {
    background-image: url(./images/group-mini-project-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*----------------------------------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.contactIcon {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    width: 170px;
    border-radius: 85px;
    background-color: chartreuse;
    transition: ease-in-out .1s;
    margin: 15px;
}

.contactIcon:hover {
    transform: scale(1.15);
    box-shadow: 10px -10px rgb(133, 60, 175), -4px 5px rgb(60, 87, 175, .5);
}

#contact1 {
    background-image: url(./images/linkedin-icon.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

#contact2 {
    background-image: url(./images/email-icon.png);
    background-repeat: no-repeat;
    background-size: 125px;
    background-position: center;
}

#contact3 {
    background-image: url(./images/github-icon.png);
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: center;
}


