:root {
    --color1:#E8F6EF;
    --color2:#B8DFD8;
    --color3: #FFE194;
    --color4: #4C4C6D;
    --color5: #222831;
    --color6: #E9896A;
}

* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: Helvetica;
}

html {
    font-family: Helvetica;
}

header {
    display: flex;
    height: 120px;
    background-color: var(--color4);
    font-family: Helvetica;
}

header h1 {
    font-size: 52px;
    justify-content: center;
    border: 1px dotted blue;
    margin: 1rem 5rem 5px 1rem ;
    font-weight: bolder;
}

header p {
    border: 1px solid brown;
    margin-left: 5rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 5px solid red;
    max-width: 1000px;
    font-family: Helvetica;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: var(--color1);
    max-width: 1000px;

}


li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 50px;
    width: 25%;
    margin: 5px;
    transition: var(--color2) 250ms ease-in-out;
}

a {
    text-decoration: none;
}

ul > li {
    background-color: grey;
}

ul > li:hover {
    background-color: rgb(90, 89, 89);


}

a {
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0px;
    color: black;
    background: linear-gradient(101deg, var(--color2) 40%, var(--color1));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex: 1 0 300px;
    flex-direction: column;
}

.headanddesc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;
}

#headshot {
    border: 5px dotted black;
    max-width: 300px;
    margin: 1rem 3rem 3rem 1rem ;
}

#headshot img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5%;
    flex: 1 0 300px;
}

#description {
    display: block;
    border: 2px solid tomato;
    align-items: baseline;
    width: 60%;
    padding: 20px;
}

h3 {
    font-size: 22px;
    margin: 2rem 0px 1rem 5rem;
}

/*reorder these*/


#featured {
    border: 5px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    border: 5px solid green;
}

.macroCard1 {
    display: flex;
    justify-content: center;
    border: 5px solid pink;
}

.projectCard1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid orange;
    padding: 20px;
    margin: 5px;
}

.macrocard2 {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.projectCard2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid crimson;
    padding: 20px;
    margin: 5px;
}

.projectimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 400px;
    width: 450px;
    border: 2px dotted rgb(96, 96, 119);
    font-size: 34px;
    border-radius: 30px;
}

.projectimg p {
    display: block;
}

.featuredimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 450px;
    width: 700px;
    border: 2px dotted rgb(96, 96, 119);
    font-size: 36px;
    border-radius: 30px;
}

}

footer {
    display: flex;
    border: 5px dotted green;
}

#project1 {
    background-color: darkkhaki;
    /*background-image: url(./images/.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
