:root {
    --color1:#E8F6EF;
    --color2:#B8DFD8;
    --color3: #FFE194;
    --color4: #4C4C6D;
    --color5: #222831;
    --color6: #E9896A;
}

* {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: Helvetica;
}

html {
    font-family: Helvetica;
}

header {
    display: flex;
    border: 2px solid black;
    height: 120px;
    max-width: 100%;
    background-color: var(--color4);
    font-family: Helvetica;
    position: static;
}

header h1 {
    font-size: 52px;
    justify-content: center;
    border: 1px dotted blue;
    margin: 1rem 3rem 5px 1rem ;
    font-weight: bolder;
}

header p {
    position: relative;
    border: 1px solid brown;
    margin-left: 5rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    border: 5px solid red;
    max-width: 1000px;
    font-family: Helvetica;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: var(--color1);
    max-width: 1000px;

}


li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 50px;
    width: 25%;
    margin: 5px;
    transition: var(--color2) 250ms ease-in-out;
}

a {
    text-decoration: none;
}

ul > li {
    background-color: grey;
}

ul > li:hover {
    background-color: rgb(90, 89, 89);


}


I just rid of my link underlines with: 
a {
        text-decoration: none;
    }

body {
    height: 100%;
    margin: 0px;
    color: black;
    background: linear-gradient(101deg, var(--color2) 40%, var(--color1));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex: 1 0 300px;
    border: 5px dotted black;
    flex-direction: column;
}

.headanddesc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;
}

#headshot {
    border: 5px dotted black;
    max-width: 300px;
    margin: 1rem 3rem 3rem 1rem ;
}

#headshot img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5%;
}

#description {
    display: block;
    border: 2px solid tomato;
    align-items: baseline;
    width: 60%;
    padding: 20px;
}

h3 {
    font-size: 22px;
    margin: 2rem 0px 1rem 5rem;
}

/*reorder these*/

.macrocard1 {
    display: flex;
    width:100%;
    border: 5px solid cyan;
}

.projectCard1 {
    border: 3px solid orange;
    padding: 20px;
    max-height: 200px;
    max-width: 300px;
}

.macrocard2 {
    width:100%;
    border: 5px solid cyan;
}

.projectCard2 {
    border: 3px solid orange;
    padding: 20px;
    max-height: 200px;
    max-width: 300px;
}

#featured {
    border: 2px solid blue;
}

#projects {
    border: 2px solid purple;
}

footer {
    display: flex;
    border: 5px dotted green;
}
